@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

body {
  font-family: Poppins, sans-serif;
}
body header {
  padding: 19px 0;
}
body header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .nav .logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
body header .nav .logo span {
  color: #173a56;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
}
body header .nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
}
body header .nav-link {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
body header .nav .sign {
  padding: 10px 24px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
}
body header .nav .sign.in {
  color: #173a56;
  border: 1px solid #bcd0e5;
}
body header .nav .sign.up {
  color: #fff;
  background: #02897a;
}
body main .hiro {
  background-image: url("../images/hiro_image.png");
  background-repeat: no-repeat;
  background-size: 600px 556px;
  background-position: center right;
  padding: 145px 30px 220px;
}
body main .hiro-title {
  width: 400px;
  margin-bottom: 18px;
  color: #22343D;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
}
body main .hiro-text {
  width: 450px;
  margin-bottom: 45px;
  color: #22343D;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
body main .hiro div {
  display: flex;
  align-items: center;
}
body main .hiro-btn {
  margin-right: 30px;
  padding: 15px 40px;
  color: #fff;
  border-radius: 4px;
  background: #02897A;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.5s ease;
}
body main .hiro-btn:hover {
  background: #fff;
  color: #02897A;
}
body main .product_wrapper {
  background-image: url("../images/product_bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
body main .product_wrapper .product .product_title {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;
  color: #22343D;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .product_wrapper .product .product_list {
  padding-bottom: 60px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .product_wrapper .product .product_list .product_item {
  width: 240px;
}
body main .product_wrapper .product .product_list .product_item img {
  margin-bottom: 30px;
}
body main .product_wrapper .product .product_list .product_item h3 {
  color: #22343D;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body main .product_wrapper .product .product_list .product_item p {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
body main .product_wrapper .product .product-btn {
  margin-left: 43%;
  margin-bottom: 104px;
}
body main .management {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body main .management .management_title {
  margin-bottom: 23px;
  color: #22343D;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .management p {
  max-width: 465px;
  margin-bottom: 25px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
body main .management h3 {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
body main .customer {
  flex-direction: row-reverse;
}/*# sourceMappingURL=style.css.map */